.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 900px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
