.limitSelectorContainer {
  display: flex;
  align-items: center;

  &__text {
    color: #fff;
    margin-right: 5px;
  }

  &__input {
    border-radius: 5px 0px 0px 5px;
    max-width: 50px;
  }

  &__button {
    border-radius: 0px 5px 5px 0px;
  }
}
