.limitSelectorContainer {
  display: flex;
  align-items: center;

  .limitSelectorText {
    color: #fff;
    margin-right: 5px;
  }

  .limitSelectorInput {
    border-radius: 5px 0px 0px 5px;
    max-width: 50px;
  }

  .limitSelectorButton {
    border-radius: 0px 5px 5px 0px;
  }
}
