.pageSelectorContainer {
  display: flex;

  &__button {
    font-weight: bold;

    &_right {
      border-radius: 0px 5px 5px 0px;
    }

    &_left {
      border-radius: 5px 0px 0px 5px;
    }
  }

  &__input {
    max-width: 50px;
    text-align: center;
  }

  &__pagesText {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px 0px 5px;

    color: #fff;
  }
}
